body {
  background-color: #dff6ff;
  font-family: Comic Sans MS;
  text-align: center;
}

h1 {
  color: #0077b6;
}

.calculator {
  width: 260px;
  background: white;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px gray;
}

#display {
  width: 100%;
  height: 40px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  background-color: #90e0ef;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #48cae4;
}

.clear {
  grid-column: span 4;
  background-color: #ff6b6b;
  color: white;
}
